{
  "semi": true,
  "tabWidth": 4,
  "printWidth": 90,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": false,
  "arrowParens": "always",
  "jsxBracketSameLine": false
}
